<h1>Bank Account Login</h1>

<form method="post" action="/User/Login">
	User Name: <input type="text" name="name"/><br/>
	Password: <input type="password" name="pwd"/><br/>
<button>Login</button>

</form>
<br/>
@ViewBag.msg